include includes/head
body.rosters
  include includes/nav
  include includes/teamList
  .row
    .large-12.columns.rosterProfile
      .row.roster-metrics
        .large-4.columns.playaInfo
          .large-4.columns.imageProfile
            img.aPhoto(src='/_imgs/#{athletes[0].school.replace(/ /g, '')}/#{athletes[0].fullname.split(' ')[1]}' + '_' + '#{athletes[0].fullname.split(' ')[0]}.jpeg')
            p
              a.vProfile(href="/#{athletes[0].school.replace(/ /g, '')}/rosters/athlete/#{athletes[0]._id}", role='button') View Profile
          .large-4.columns.nameInfo
            h5.name
              strong
                | #{athletes[0].fullname.split(' ')[0]} 
              strong
                | #{athletes[0].fullname.split(' ')[1]}
            .demoInfo
              .specInfo
                p.position
                  | Position: 
                  strong
                    | #{athletes[0].position}
                p.group
                  | Group: 
                  strong
                    | #{athletes[0].group}
                p.year
                  | Year: 
                  strong
                    | #{athletes[0].year}
        .small-12.large-8.columns
          .row.catBoxes
            each item, key in Metrics
              each value, metric in item[0]
                .small-3.large-3.columns.text-center.catBox
                  h4.cat #{key}
                  .metric= value.val
                  p.lab= labels[metric]
  .row.rosterRow
    .small-12.columns
      table
        thead
          tr
            th First Name
            th Last Name
            th Year
            th Position
            th Group
        tbody
          for athlete in athletes
            tr.rosterTableRow(id= athlete._id)
              td= athlete.fullname.split(' ')[0]
              td= athlete.fullname.split(' ')[1]
              td= athlete.year
              td= athlete.position
              td= athlete.group

  script(src="/_js/ajax/fetchAthlete.js")
 include includes/footer
 script
  $('.rosterTableRow:first').addClass('active');
