mixin roster-row(first_name, last_name, position, group)
  tr
    td
      input(type='checkbox')
    td #{first_name}
    td #{last_name}
    td #{position}
    td #{group}

mixin test-admin-row(metric)
  tr
    td
      input(type='checkbox')
    td #{metric}

mixin edit-data-row(date, value)
  tr
    td #{date}
    td #{value}
    td
      a
        i.foundicon-checkmark
    td
      a
        i.foundicon-remove
    td
      a
        i.foundicon-add-doc