mixin roster-row(firstName, lastName, position, group)
  tr
    td
      input(type='checkbox')
    td #{firstName}
    td #{lastName}
    td #{position}
    td #{group}

mixin test-admin-row(metric)
  tr
    td
      input(type='checkbox')
    td #{metric}

mixin edit-data-row(date, value)
  tr
    td #{date}
    td #{value}
    td
      a
        i.foundicon-checkmark
    td
      a
        i.foundicon-remove
    td
      a
        i.foundicon-add-doc


mixin training-test-row(firstName, lastName, lastRecord)
  tr
    td #{firstName}
    td #{lastName}
    td #{lastRecord}
      a(href='#'): i.fi-pencil
    td
      input(type='text')
      a.small.button.success.radius(href='#') Update


mixin athlete-canvas-metric-row(metric, unit, date, latestRecord, latestTeamAvg, delta)
  .row.athlete-canvas
    .large-6.columns
      h4 #{metric} (#{unit})
    .large-6.columns
      h4.right Last Record: #{date}
    .large-12.spacer
      hr
    .row
      .large-10.large-centered.columns.athlete-canvas-metrics
        .row
          .large-2.columns.latest-record
            h2 #{latestRecord}
            span Latest Record

          .large-2.columns.latest-team-avg
            h2 #{latestTeamAvg}
            span Latest Team Avg.

          .large-2.columns.delta
            h2.positive #{delta}
            span Delta Since Last

          .large-2.columns.view-graph
            a(href='#', data-reveal-id='viewGraphModal')
              i.fi-graph-bar
            span View Graph

          .large-2.columns.edit-data
            a(href='#', data-reveal-id='editDataModal')
              i.fi-pencil
            span Edit Data
